__pycache__/
*.csv
data_helpers/__pycache__/
data_helpers/.vscode/settings.json
data_helpers/sklearn-env/
scripts/
scripts/find_functions.py
scripts/testingmatching.py
scripts/testingmatching2.py
venv/
