__pycache__/
*.csv
# Get-Content .gitignore | Sort-Object -Unique | Set-Content .gitignore
# Run the previous command in Windows to sort and remove duplicates from .gitignore:
data_helpers/__pycache__/
data_helpers/.vscode/settings.json
data_helpers/sklearn-env/
gpus.ipynb
scripts/
scripts/find_functions.py
scripts/testingmatching.py
scripts/testingmatching2.py
venv/
data_helpers/testing.py
test_image.png
